<div class="container">
  <div class="row">
    <div class="col-sm-12 top-navigation">
      <select>
        <option>Pune</option>
        <option>Mumbai</option>
      </select>
      <ul>
        <li><a href="javascript:">Login</a></li>
        <li><a href="javascript:">Register</a></li>
      </ul>
    </div>
  </div>
</div>
<nav>
  <div class="container">
    <div class="row">
      <diV class="col-sm-3 logo"><a class="navbar-brand" href="/">HomeShopApp</a></diV>
      <div class="col-sm-7 select-category">
        <form>
            <input class="form-control" type="text" placeholder="Search for your favourite product or brand" aria-label="Search">
            <div class="btn-form">
              <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
              <select>
                <option>All Categories</option>
              </select>
            </div>
          </form>
      </div>
      <div class="col-sm-2 cart-wrap">
        <a href="javascript:" class="">
          <div>Your Bag<span>99 items</span></div>
          <h6>start shopping <i class="fas fa-angle-right"></i></h6>
        </a>
      </div>
    </div>  
  </div>
</nav> 
<div class="categories-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <button class="btn col categories">
            <i class="fas fa-list"></i>
            <span>categories</span>
            <i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="col-sm-10">
        <div class="cat-btn-wrap">
          <span>Offers</span>
          <span><img src="./assets/smart-shopping.png" alt=""> Smart Shopping</span>
        </div>
      </div>
    </div>
  </div>
</div>