<footer class="mt-4">
  <div class="col-sm-12 app-load">
    <div class="container">
      <div class="row">
        <div class="col-sm-7"><p>Download HomeShopApp on your smartphone now</p></div>
        <div class="col-sm-5 right-aligh">
          <a href="javascript:"><img src="./assets/appstore.png"></a>
          <a href="javascript:"><img src="./assets/googleplay.png"></a>
        </div>
    </div>
    </div>
  </div>
  <div class="col-sm-12 online-support">
    <div class="container">
      <div class="row">
        <ul>
          <li>24 hrs online customer support</li>
          <li>support@homeshopapp.com</li>
          <li>8888 4444 22</li>
        </ul>
      </div>
  </div>
  </div>
  <div class="col-sm-12 footer-links d-none d-sm-block">
    <div class="container">
     <div class="row">
      <div class="col-sm-12">
       <div class="col-sm-20">
        <ul>
          <li>HELP</li>
          <li><a href="javascript:">ABOUT IS</a></li>
          <li><a href="javascript:">FAQ</a></li>
          <li><a href="javascript:">HOT IT WORKS</a></li>
          <li><a href="javascript:">DELIVERY DETAILS</a></li>
        </ul>
      </div>
    <div class="col-sm-20">
        <ul>
          <li>POLICY</li>
          <li><a href="javascript:">CANCELLATION & RETURNSS POLICY</a></li>
          <li><a href="javascript:">TERMS & CONDITION</a></li>
          <li><a href="javascript:">PRIVACY POLICY</a></li>
        </ul>
    </div>
    <div class="col-sm-20">
        <ul>
          <li>HELP</li>
          <li><a href="javascript:">ABOUT IS</a></li>
          <li><a href="javascript:">FAQ</a></li>
          <li><a href="javascript:">HOT IT WORKS</a></li>
          <li><a href="javascript:">DELIVERY DETAILS</a></li>
        </ul>
      </div>
    <div class="col-sm-20">
        <ul>
          <li>POLICY</li>
          <li><a href="javascript:">CANCELLATION & RETURNSS POLICY</a></li>
          <li><a href="javascript:">TERMS & CONDITION</a></li>
          <li><a href="javascript:">PRIVACY POLICY</a></li>
        </ul>
    </div>
    <div class="col-sm-20 newletter">
        <ul>
          <li>NEWSLETTER</li>
          <li><a href="javascript:">Subscribe to our newsletter by email.</a></li>
        </ul>
        <form>
          <input type="text" name="" placeholder="Email" class="form-control">
          <button type="submit" value="" name="">></button>
        </form>

    </div>
      </div>
     </div>
    </div>
  </div>
</footer>