<div class="categories-list">
    <ul>
        <li class="active">
            <a href="/">
                <i><img src="./assets/grocery.png" alt=""></i>
                <span>Grocery & Staples</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-list"></i>
                <span>categories</span>
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>