.categories-list{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.categories-list ul li.active{
    background-color: #f2f2f2;
    a{
        color: #64b242;
        text-transform: capitalize;
        font-size: 12px;
        span{
            padding: 0 8px;
        }
    }
}
.categories-list ul li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.categories-list ul li a{
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.categories-list ul li a span{
    padding: 0 10px
}

