

:host ::ng-deep a.nav-link.active .title1 {
    color: #64b242;
    font-weight: bold;
}
.title1{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    padding-left:25px;
    padding-right:25px;
    border-radius: 0;
}
a.nav-link.active .title1{
    color: #64b242;
}
p{
    padding: 15px;
    background-color: #fff;
    font-size: 15px;
    color: #333333;
    border: 1px solid #dee2e6;
    border-top: 0;
}