@import "~bootstrap/scss/bootstrap-grid.scss";
.card-body ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.card-body ul li {
    list-style: none;
    padding: 5px 0;
}
.card-body ul li i{
    color: #999;
}

.brand-name {
    font-size: 10px;
    color: #999;
    font-weight: 700;
}
.card-body .card-title {
    font-size: 14px;
    color: #333;
}
.prod-img-nav-wrap{
    display: flex;
    justify-content: space-between;
}
.card-body .info span.weigth {
    color: #999;
}
.select-size-price{
    font-size: 12px;
    color: #666;
    height: 26px;;
    padding-left: 8px;
}
.card-body .info {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 700;
}

.quantity-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .quantity-wrap input{
    
// }
.quantity-wrap span{
    font-size: 12px;
    color: #666;
    margin-right: 10%;
}

.btn-cart-add{
    font-size: 10px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f7d900;
    border-color: #f7d900;
    border-radius: 3px;
}

.head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #999;
    margin-top: 40px;
    padding-bottom: 5px;
}

.head h4,
.head a,{
    color: #999;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.ads {
    text-align: center;
}

@media (max-width:560px){
    
    .prod-img-nav-wrap {
        display: block;
        text-align: center;
    }
    .card-body ul {
        flex-direction: row;
        justify-content: center;
    }
    .card-body ul li {
        padding: 5px 8px;
    }
}