<div class="container mt-4">
  <div class="row">

    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8">
      <div class="banner">
        <img src="./assets/banner.jpg" alt="" class="mb-2 img-fluid">
      </div>
      <div class="new-arrivals">
        <div class="col-lg-12">
          <div class="row">
            <div class="card-columns">
              <div class="card" >
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" >
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" >
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" >
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <img src="./assets/ads/ad-1.jpg" alt="" class="mb-2 img-fluid">
      <img src="./assets/ads/ad-2.jpg" alt="" class="mb-2 img-fluid">
      <img src="./assets/ads/ad-3.jpg" alt="" class="mb-2 img-fluid">
      <img src="./assets/ads/ad-4.jpg" alt="" class="mb-2 img-fluid">
    </div>
  </div>
</div>